@tailwind base;
@tailwind components;
@tailwind utilities;


.trente-bold {
    @apply font-bold font-poppins text-3xl 
}

.vingt-quatre-med {
    @apply font-medium font-poppins text-2xl 
}

.vingt-quatre-semi {
    @apply font-semibold font-poppins text-2xl 
}

.vingt-med {
    @apply font-medium font-poppins text-xl 
}

.seize-norm {
    @apply font-normal font-poppins text-base
}

.quatorze-norm {
    @apply font-normal font-poppins text-sm
}

.douze-norm {
    @apply font-normal font-poppins text-xs 
}

.logo {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(-20deg, #42558e, #6fa8bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-color: #fbfbfb;
}

.degrade {
    background: linear-gradient(-20deg, #42558e, #6fa8bf);
}

.degrade-clair {
    background: linear-gradient(-20deg, rgba(88,115,194,1) 0%, rgba(111,168,191,1) 100%);
}

.bg-image {
    background-image: url('./assets/img/template/wallpaperlanding.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.bg-cnx {
    background-image: url('./assets/img/fondcnx.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}